
body{
  background-image: url(../public/tyson-moultrie-BQTHOGNHo08-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:cover;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: none;
  text-align: center; 
  align-items: center;
  min-height: 100vh;
}
form{
  display: flex;
  flex-direction: column;
  margin: 5px 10px 10px;
}
.header{
  color:#dedede;
}
input[type="text"],
input[type="password"],
input[type="email"]{
    margin: 5px 10px 10px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #dedede;
}
button{
  background: none;
  color: #dedede;
  border: none;
}
input[type = "submit"]{
  margin: 5px 10px 10px;
  padding: 5px;
  border: 1px solid rgb(12, 1, 1);
  border-radius: 5px;
  background-color: rgba(132, 18, 18, 0.774);
  cursor: pointer;
}
input[type = "submit"]:hover{
  background-color: black;
  color: white;
}
 .movielist{
  color: black;
  display: flex;
  flex-direction:row;
  padding: 5px;
  margin-bottom: 10px;
  background-color: none;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  min-block-size: 10px;
  width: 25%;
  float: left;
}
.card-actor{
  text-decoration: underline;
}
.card-title{
  text-decoration-style: solids;
  text-shadow: black 5px;
  text-size-adjust: 8;
  color:rgba(132, 18, 18, 0.774);
}

